#form1 {
    display: flex;
    flex-direction: row;
    gap: 64px;
    margin: 32px;
}

#form2 {
    display: flex;
    flex-direction: row;
    gap: 64px;
    margin-inline: 32px;
}

#botoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

    #botoes button {
        min-width: 500px;
    }

.backbtn-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px 32px 16px;
    width: 100%;
}

    .backbtn-container a img {
        transform: rotate(180deg);
        width: 18px;
    }

.titulo {
    text-align: center;
    margin-bottom: 32px;
}

@media (max-width: 1000px) {
    form {
        padding: 0px 16px;
    }

    #form1, #form2 {
        flex-direction: column;
        gap: 10px;
        margin: 10px 0px;
    }

    #botoes {
        margin: 42px 0px;
    }

    #botao {
        width: 100%;
        min-width: auto !important;
    }
}

@media (max-width: 350px) {
    #super-container {
        padding-inline: 0px;
        padding-top: 0px;
    }

    #container-borda {
        border: none;
        padding: 0px;
    }

    .backbtn-container {
        padding: 32px;
    }
}
