@{
    ViewData["Title"] = "Cadastro";
}
@model projeto_itegrador_2semestre_fatec.Models.CadastroCursoDTO
<section class="content-container" id="super-container">
    <div class="backbtn-container">
        <a class="Voltar button-anchor" href="/Login/Index">
            <img src="~/assets/right-arrow.png" alt="seta de voltar">
            <h1>Voltar</h1>
        </a>
    </div>
    <section class="section-rounded" id="container-borda">
        <h1 class="titulo">Aluno, faça seu cadastro</h1>
        <form id="form" asp-action="Index" method="post">
            <div id="form1">
                <label class="label-container" for="nome">
                    Nome
                    <input type="text" id="nome" onblur="handleField(this)" asp-for="cadastroAluno.nome">
                    <p id="errorNome"></p>
                </label>

                <label class="label-container" for="email">
                    E-mail:
                    <input type="email" id="email" onblur="handleField(this)" asp-for="cadastroAluno.email">
                    <p id="errorEmail"></p>
                </label>

                <label class="label-container" for="telefone">
                    Telefone:
                    <input type="text" id="telefone" onblur="handleField(this)" asp-for="cadastroAluno.telefone">
                    <p id="errorTelefone"></p>
                </label>
            </div>

            <div id="form1">
                <label class="label-container" for="CPF">
                    CPF:
                    <input type="text" id="CPF" onblur="handleField(this)" asp-for="cadastroAluno.cpf">
                    <p id="errorCPF"></p>
                </label>

                <label class="label-container" for="RA">
                    RA:
                    <input type="text" id="RA" onblur="handleField(this)" asp-for="cadastroAluno.ra">
                    <p id="errorRA"></p>
                </label>

                <label class="label-container" for="RG">
                    RG:
                    <input type="text" id="RG" onblur="handleField(this)" asp-for="cadastroAluno.rg">
                    <p id="errorRG"></p>
                </label>
            </div>

            <div id="form2">
                <label class="label-container" for="curso">
                    Curso:
                    <select name="curso" id="curso" onblur="handleField(this)" asp-for="cadastroAluno.idCurso">
                        @foreach (var curso in Model.curso)
                        {
                            <option value="@curso.id">@curso.nome</option>
                        }
                    </select>
                    <p id="errorCurso"></p>
                </label>

                <label class="label-container" for="semestre">
                    Semestre:
                    <select name="semestre" id="semestre" onblur="handleField(this)" asp-for="cadastroAluno.semestre">
                        <option value="1">1º semestre</option>
                        <option value="2">2º semestre</option>
                        <option value="3">3º semestre</option>
                        <option value="4">4º semestre</option>
                        <option value="5">5º semestre</option>
                        <option value="6">6º semestre</option>
                    </select>
                    <p id="errorSem"></p>
                </label>

                <label class="label-container" for="periodo">
                    Periodo:
                    <select name="periodo" id="periodo" onblur="handleField(this)" asp-for="cadastroAluno.periodo">
                        <option value="matutino">Matutino</option>
                        <option value="vespertino">Vespertino</option>
                        <option value="noturno">Noturno</option>
                    </select>
                    <p id="errorPer"></p>
                </label>
            </div>

            <div id="form1">
                <label class="label-container" for="senha">
                    Senha:
                    <input type="password" id="senha" onblur="handleField(this)" asp-for="cadastroAluno.senha" />
                    <p id="errorSenha1"></p>
                </label>

                <label class="label-container" for="confirme">
                    Confirme sua senha:
                    <input type="password" id="confirme" onblur="handleField(this), handleConfirmacao()" asp-for="cadastroAluno.confirmeSenha" />
                    <p id="errorSenha"></p>
                </label>
            </div>

            <div id="botoes">
                <button type="submit" class="button-primary" id="botao" onclick="handleCreateAccount()">CRIAR CONTA</button>
            </div>
        </form>
    </section>
</section>
@if (ViewBag.Erro != null)
{
    <div class="alert alert-danger">@ViewBag.Erro</div>
}

