@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<form asp-action="Index" method="post">
    <div class="text-center">
        <label>E-mail</label>
        <input name="email" />
    </div>
    <div class="text-center">
        <label>Senha</label>
        <input type="password" name="senha" />
    </div>
    <button type="submit">Entrar</button>
</form>
@if (ViewBag.Erro != null)
{
    <div class="alert alert-danger">@ViewBag.Erro</div>
}